# Test report

Generated: 2026-10-11T08:25:53Z

Command: `pytest`

Exit code: 0

Summary: **153 passed in 19.27s**

```
........................................................................ [ 47%]
........................................................................ [ 94%]
.........                                                                [100%]
153 passed in 19.27s
C:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\pytest_asyncio\plugin.py:208: PytestDeprecationWarning: The configuration option "asyncio_default_fixture_loop_scope" is unset.
The event loop scope for asynchronous fixtures will default to the fixture caching scope. Future versions of pytest-asyncio will default the loop scope for asynchronous fixtures to function scope. Set the default fixture loop scope explicitly in order to avoid unexpected behavior in the future. Valid fixture loop scopes are: "function", "class", "module", "package", "session"

  warnings.warn(PytestDeprecationWarning(_DEFAULT_FIXTURE_LOOP_SCOPE_UNSET))

```
